[tool.poetry]
name = "maize"
version = "0.2.1"
description = "一个强大易用的爬虫框架"
authors = ["seehar <seehar@qq.com>"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "~3.10"
parsel = "^1.8.1"
aiohttp = "^3.9.1"
httpx = "^0.26.0"
ujson = "^5.9.0"


[tool.poetry.group.dev.dependencies]
black = "23.12.1"
isort = "5.13.2"
pre-commit = ">=3.5.0"


[tool.poetry.group.test.dependencies]
pytest-asyncio = "0.15.1"
pytest-cov = "4.1.0"
pytest = "7.4.0"
loguru = "0.5.3"


[tool.poetry.group.docs.dependencies]
mkdocs = "^1.5.3"
mkdocs-material = "^9.5.4"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[[tool.poetry.source]]
name = "tsinghua"
url = "https://mirrors.tuna.tsinghua.edu.cn/pypi/web/simple/"
priority = "default"
